*,*:before,*:after{
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #999;
	font-family:'Univers LT W01 55 Roman';
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	font-family: 'Rokkitt', serif;
	font-weight: normal;
	color:#7e1619;
}

ul {
	list-style:none;
	padding:0px;
}

ul li {
	padding-top:5px;
	padding-bottom: 5px;
}

ul img {
	width:24px;
	height:24px;
	vertical-align: middle;
	padding-right:10px;
}

input[type=text],input[type=email], textarea {
	width: 100%;
}

table {
	width: 100%;
	text-align: left;
}

thead {
	font-family: 'Rokkitt', serif;
	color:#7e1619;
	font-size:24px;
}

tbody {
	font-family:'Univers LT W01 55 Roman';
	font-size:14px;
}

tbody td {
	padding-top:5px;
	padding-bottom:5px;
}

input {
border:0;
background:none;
background-color:#ffffff;
border:1px solid #3f3f3f;
border-radius:3px;
padding-left:5px;
padding-right:5px;
}

.nmap {
	float: left;
	width:828px;
	height: 620px;
}

.container {
	width:960px;
	padding:20px;
	background-color: #eceded;
	margin-left: auto;
	margin-right: auto;
}

.viewtypes {
	position: fixed;
	background-color: #343533;
	color: #fff;
	top:0px;
	left:0px;
	padding:20px;
}

.header {
	text-align: center;
}

.row {
	display: inline-block;
	width: 100%;
}

.col {
	width:33.333%;
	float: left;
	padding:20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col-half {
	width:50%;
	float: left;
	padding:20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col-half h1, .col-half h2, .col-half h3, .col-half h4, .col-half h5, .col-half h6 {
	text-align: center;
}

.col h1, .col h2, .col h3, .col h4, .col h5, .col h6 {
	text-align: center;
}

.urgent {
	color:#7e1619;
}

/* Task Module */

.tasks-module {
	width:100%;
}

.task-sorting {
	float:left;
	width:50%;
	margin-bottom:10px;
}

#sort-choice {

}

div.user-select,div.client-select {
	float:left;
	width:50%;
	display:none;
}

#user-select {
}

div.task-sorting p, div.user-select p, div.client-select p {
	text-transform: uppercase;
	font-family: 'Rokkitt', serif;
	font-weight: normal;
	color: #7e1619;
}

.single-task, .task-content {
	width:100%;
	float:left;
}

.single-task {
	margin-bottom:10px;
}

.single-task p {

}

.task-name {

}

.task-duedate {

}

.task-client {

}

.task-note {

}

/* Login Panel */

.login-panel {
width:33%;
margin-left:auto;
margin-right:auto;
}

.login-panel input,.login-panel p {
width:100%;
float:left;
margin-bottom:10px;
}

.login-panel input[type=submit] {
width:33%;
margin-left:33%;
}

/* Master Ball */

.master-ball {
position:fixed;
width:100%;
height:25px;
background:rgba(190,190,190,.8);
}

.master-ball-quicklinks {
float:right;
}

.master-ball-quicklinks a {
float:right;
margin-left:15px;
}

.inbox-link {
float:right;
}

/* Inbox */

.inbox-nav {
margin-bottom:30px;
}

.single-message {
margin-bottom:5px;
}

.notchecked {
font-weight:bold;
}

/* Meme Generator */

.small-picture {
margin-bottom: 30px;
}